<<<<<<< HEAD
extends layout

block link
  -var selected = 'Account';

block content
  h1 Account
=======
extends layout

block link
  -var selected = 'Account';

block content
  h1 Account
>>>>>>> cac6cef050b1a472a9382bdd6396773bc3af74e8
