<<<<<<< HEAD
extends layout

block link
  -var selected = 'Characters';

block content
  h1 Characters
=======
extends layout

block link
  -var selected = 'Characters';

block content
  h1 Characters
>>>>>>> cac6cef050b1a472a9382bdd6396773bc3af74e8
