<<<<<<< HEAD
extends layout

block link
  -var selected = 'Home';

block content
  h1 Home
=======
extends layout

block link
  -var selected = 'Home';

block content
  h1 Home
>>>>>>> cac6cef050b1a472a9382bdd6396773bc3af74e8
